.loading_spinner_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    gap: 10px;
}
.loader {
    border: 5px solid #f0efef;
    border-top: 5px solid #808181;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
} 
  