.movie_list{
    width:100%;
    border-collapse: collapse;
  }
  .movie_list tbody tr{
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  .movie_list tbody tr:hover, .movie_list tbody tr.active{
    background-color: #edf3fc;
  }
  .movie_list tbody tr td{
    padding: 15px;
    font-size: 14px;
    color: #333;
  }

  @media only screen and (max-width: 768px) {
    .movie_list tbody tr{
      display: block;
    }
    .movie_list tbody tr td{
      display: block;
      padding: 10px;
    }
  }