*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

.movie_list_header{
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #f7f5f5;
  border-bottom: 1px solid #ccc;
  padding: 15px 25px;
}

.movie_list_sort{
  color: #329ce2;
  border: 1px solid #329ce2;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.movie_list_sort:focus{
  outline: none;
}

.main{
  display: flex;
  width: 100%;
}

.movie_list_container{
  width: 50%;
  border-right: 1px solid #ccc;
  height: calc(100vh - 70px);
}

.movie_details_container{
  width: 50%;
  padding: 20px 20px;
  line-height: 1.5  em;
}
.movie_name{
  font-size: 22px;
  font-weight: 400;
  color: #333;
  margin-bottom: 15px;
}

.movie_rating_tag{
  color: #329ce2;
  font-size: 14px;
  border: 1px solid #329ce2;
  border-radius: 30px;
  padding: 5px 10px;
  text-decoration: none;
}
