*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

.movie_list_header{
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #efefef;
  border-bottom: 1px solid #ccc;
  padding: 20px 30px;
}


.main{
  display: flex;
  width: 100%;
}

.movie_list_container{
  width: 50%;
  border-right: 1px solid #ccc;
  height: 100vh;
}

.movie_details_container{
  width: 50%;
  padding: 20px 20px;
}
.movie_name{
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.movie_list{
  width:100%;
  border-collapse: collapse;
}
.movie_list tbody tr{
  border-bottom: 1px solid #ccc;
}
.movie_list tbody tr:hover{
  background-color: #edf3fc;
}
.movie_list tbody tr td{
  padding: 20px;
  font-size: 14px;
}