*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

.movie_list_header{
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #f7f5f5;
  border-bottom: 1px solid #ccc;
  padding: 15px 25px;
}

.main{
  display: flex;
  width: 100%;
}

.movie_list_container{
  width: 50%;
  border-right: 1px solid #ccc;
  height: calc(100vh - 70px);
}


.movie_details_container{
  width: 50%;
}

@media only screen and (max-width: 768px) {
  
  .movie_list_header{
    padding: 15px;
  }
  .movie_list_container{
    width: 100%;
  }
  .movie_details_container{
    width: 100%;
    background: #fff;
    display: none;
    position: absolute;
    top:0;
  }
}